.img-height {
    height: 145px;
}

/* iPads (portrait) ----------- */
@media only screen
and (min-width : 768px) {
    .img-height {
        height: 100px;
    }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    .img-height {
        height: 145px;
    }
}

.img-height > img {
    position: absolute;  
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;    
    top: 0;  /*Centering the image*/
    bottom: 0;    /*Centering the image*/
    left: 0;   /*Centering the image*/
    right: 0;   /*Centering the image*/
    margin: auto;
}
